body{
  background-color: Black;
  font-family: Arial;
}
h1 {
  color: White;
  text-align: Center;
}
  p {
  font-size: 30px;
    color: White;
}
h2 {
  color: yellow;
  text-align: Center;
}
h2 {
  color: white;
  text-align: Center;
}
{
  border-style:dotted;
  border-width:5px;
  border-color: green green green green;
  border-top-style: solid;
  border-right-style: dotted;
  border-bottom-style: solid;
  border-left-style: dotted;
  border-radius: 10px;
}
